#map {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.ice-skating-pictogram {
  text-align: center;
  line-height: 1.2em;
  display: block;
}

.ice-skating-icon {
    width: 2.5em;
    height: 2.5em;
    border-radius: 2.5em;
    display: block;
    border: 0.2em solid #bbeff9;
}

/* weird CSS bug on icons */
.leaflet-div-icon {
    border-width: 0px;
    background-color: transparent;
}

.conditions-list {
    list-style: none;
    padding-left: 3px;
    margin-top: 0px;
}

.leaflet-popup-content p {
    margin: 5px;
}

.leaflet-popup-content i {
    margin: 5px;
    text-size: 10px;
}
